langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-ollama
langchain-text-splitters
chromadb
sentence-transformers
streamlit
pypdf
docx2txt
requests
fastapi
uvicorn
